<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Library Management System</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student Management</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href="@{/books}">Book Management</a>
            </li>

        </ul>
    </div>
</nav>
</head>

<body>

<div class="container">

    <div class="row">
        <h1> Borrowed books </h1>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/library/givebook}" class="btn btn-primary btn-sm mb-3">Register book</a>
        </div>
    </div>

    <table class="table table-striped table-bordered">

        <thead class="table-dark">
        <tr>

            <th> Student Name</th>
            <th> Book title</th>
            <th> Taken at</th>
            <th> Actions</th>

        </tr>
        </thead>

        <tbody>
        <tr th:each="order: ${orders}">
            <td th:text="${order.getStudentName()}"></td>
            <td th:text="${order.getBookTitle()}"></td>
            <td th:text="${order.getTakenAt()}"></td>
            <td>
                <a th:href="@{/library/returnbook/{id}(id=${order.id})}"
                   class="btn btn-warning">Return</a>
            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>