<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
</head>
<body>
<h1>My name is : </h1>
 <p th:text="${student.getFirstName()}" />
<h1> My surname is </h1>
<p th:text="${student.getLastName()}"/>
<h1> My age </h1>
<p th:text="${student.getAge()}"/>
<h1> Gender</h1>
<p th:text="${student.getGender()}"/>
<h1>My email :</h1>
<p th:text="${student.getEmail()}"/>
<tr th:each="book: ${books}">
    <div th:if = "${s}">
    <td th:text="${book.getTitle()}"></td>
    <td th:text="${book.getAuthor()}"></td>
    <td th:text="${book.getYear()}"></td>
    <td th:text="${book.getDescription()}"></td>
    <td th:text="${book.getGenre()}"></td>
    <td>
        <a th:href="@{/books/{id}(id=${book.id})}"
           class="btn btn-danger">Delete</a>
    </td>
    </div>
</tr>

</tr>
</body>
</html>