<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>My page</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<h1>My name is : </h1>
 <p th:text="${student.getFirstName()}" />
<h1> My surname is </h1>
<p th:text="${student.getLastName()}"/>
<h1> My age </h1>
<p th:text="${student.getAge()}"/>
<h1> Gender</h1>
<p th:text="${student.getGender()}"/>
<h1>My email :</h1>
<p th:text="${student.email}">



<h2>My borrowed books</h2>
<tr th:each="book: ${books}">
    <p  th:text="${book.getBookTitle()}"></p>
    <p  th:text="${book.getTakenAt()}"></p>
</tr>

</tr>
</body>
</html>